<%= render 'shared/errors', obj: @customer %>
<%= form_for @customer, validate: true do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name, required: true %>
  <br /><br />
  <%= f.label :email %><br />
  <%= f.email_field :email, required: true %>
  <br /><br />
  <%= f.submit %>
  <p>
    [ <%= link_to "Back to listing customers", customers_path %> ]
  </p>
<% end %>