<h1>Listing customers record</h1>
<%= link_to "Go to home page", root_path %>
<br /><br />
<%= link_to "create a new customer record", new_customer_path %>
<br /><br />
<%= form_tag customers_path, method: :get do %>
  Enter alphanumeric keywords that is present in name or email that you want to search
  <br /><br />
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<br /><br />

<table>
  <tr>
    <td>Name</td>
    <td>Email</td>
  </tr>
  <% @customers.all.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.email %></td>
      <td><button><%= link_to "Show", customer_path(customer), class: "success" %></button> | </td>
      <td><button><%= link_to "Edit", edit_customer_path(customer), class: "primary" %></button> | </td>
      <td><%= button_to "Delete", customer, 
                                remote: true,
                                method: :delete,
                                data: { confirm: "Are you sure?" }, class: "danger" %>
      </td>
    </tr>
  <% end %>
</table>