<h1>Add a new Image</h1>

<%= form_for @image, presence: true do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  <br /><br />
  <%= f.label :picture %><br />
  <%= f.file_field :picture %>
  <br /><br />
  <%= f.label :caption %><br />
  <%= f.text_field :caption %>
  <br /><br />
  <%= f.submit %>
<% end %>
<p>
  <%= link_to "Back to Listing Images", images_path %>
</p>